@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

/* .show-bg {
  display: block;
} */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-signin {
  background-color: beige;
  width: 450px;
  height: 475px;
  border-radius: 20px;
  font-family: lemon;
  padding-top: 22px;

  /* 
  margin: auto;
  position: relative;
  top: 200px;
  padding: 20px;
  color: black; */
  /* z-index: 2; */
}

.frame-signin h1 {
  font-size: 31px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 50px;
}

.yourId,
.yourPassword {
  margin-left: 35px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.yourId h3,
.yourPassword h3 {
  margin-bottom: 80px;
}

/* .yourPassword {
  padding: 15px;
  font-size: 20px;
}

.yourPassword h3 {
  margin: 0px;
  margin-bottom: 15px;
} */

input {
  font-size: 22px;
  height: 32px;
  border-radius: 10px;
  border: none;
  padding: 6px;
}
input:focus {
  outline: none;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  position: relative;
  top: 45px;
  left: 41px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: darkgreen;
  cursor: pointer;
}
.btn-container {
  margin-left: 10px;
}
