@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.example {
  /* padding: 70px; */
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  clear: both;
}
.upperSide {
  width: 100%;
  height: 40%;
}
/* .imgContainer {
  width: 100%;
  height: 100%;
} */
.upperSideImg {
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(90%);
}

.upperSideTxt {
  position: absolute;
  color: White;
  font-size: 100px;
  top: 100px;
  bottom: 100px;
}
.lowerSideContainer {
  width: 100%;
  /* height: 60%; */
}
/* 
Smooch&display=swap");
Lemon&display=swap");
Sonsie+One&display=swap");
Chango&display=swap"); */

.title {
  width: 100%;
  text-align: center;
  background-color: orange;
  /* padding: 15px; */
}
.title p {
  font-size: 30px;
  font-family: Lemon;
}
.imgBox {
  float: left;
  width: 40%;
  padding-right: 30px;
  /* background-color: brown; */
}

.imgContent {
  width: 70%;
  height: 700px;
  float: right;
  padding-top: 100px;
  padding-right: 60px;
}
.infoBox {
  float: right;
  width: 60%;
  /* height: 100%; */
}

.txtContent {
  width: 100%;
  padding-top: 100px;
  padding-left: 10px;
}

.h1Content {
  /* position: relative; */
  /* margin: auto; */
  margin-bottom: 60px;
  width: 100%;
  height: 50px;
}

.badge1 {
  width: 250px;
  height: 100%;
  padding: 10px;
  background-color: beige;
  text-align: center;
  float: left;
  border-radius: 30px;
}
.badgeTxt {
  width: 700px;
  padding: 10px;
  /* background-color: brown; */
  float: left;
}

.detailInfo {
  margin: auto;
  margin-top: 100px;

  /* height: 290px; */
  width: 100%;

  text-align: center;
  /* background-color: bisque; */

  padding-left: 250px;
  padding-right: 250px;
}

.detailInfo p {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.commentContainer {
  /* background-color: black; */
  width: 100%;
  /* height: 300px; */
}

.comment {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 75%;
  /* height: 100%; */
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
}
.commentBtn {
  border-radius: 10px;
}

@media screen and (max-width: 1733px) {
  /* .information-container div {
    width: 50%;
  } */
  .imgBox {
    width: 100%;
    /* float: left; */
    /* width: 50%; */
    padding-right: 0px;

    display: flex;
    justify-content: center;
  }
  .imgContent {
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    height: 700px;
    padding-top: 100px;
  }
  .infoBox {
    width: 100%;
  }
  .txtContent {
    margin: auto;
    margin-bottom: 100px;
  }
  .h1Content {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* margin: auto; */
    margin-bottom: 80px;
    width: 100%;
    height: 50px;
  }
  .detailInfo {
    margin: auto;
    margin-top: 90px;

    /* height: 290px; */
    width: 100%;

    text-align: center;
    /* background-color: bisque; */

    padding-left: 250px;
    padding-right: 250px;
  }
  .badgeTxt {
    width: 500px;
    padding: 10px;
    /* background-color: brown; */
    float: left;
  }
}
