@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

div {
  margin: 0;
}

.festival-frame {
  width: 100%;
  height: 832px;
  /* padding: 24px; */
}

.festival-name {
  width: 100%;
  height: 250px;
  line-height: 250px;
  text-align: center;
  background-color: floralwhite;
}

.festival-name p {
  margin: 0;
  align-items: center;
  font-size: 35px;
  font-family: "lemon";
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 60px, 60px, 60px, 60px;
}

.festival-pictures {
  width: 100%;
}

.move-left {
  width: 5%;
  background-color: aquamarine;
  float: left;
  height: 612px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.move-right {
  width: 5%;
  background-color: aquamarine;
  height: 612px;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.festival-container {
  background-color: green;
  float: left;
  width: 90%;
  height: 612px;
  /* padding-right: 50px; */

  overflow: hidden;
}

.pictures {
  height: 612px;
  width: 500vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
/* .festival-box {
  background-color: darkgreen;
  width: 90%;
  height: 80%;
} */

.inner-img {
  width: 372 px;
  height: 80%;
  padding-left: 45.4px;
}
.inner-img img {
  width: 100%;
  height: 100%;
}
