@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

div {
  margin: 0;
}

.culture-container {
  width: 100%;
  /* height: 832px; */
  height: 832px;
  margin: 0px;

  /* padding-top: 24px; */
}

.culture-upper-frame {
  width: 100%;
  height: 10%;
  text-align: left;
  /* background-color: rgb(50, 60, 104); */
}
.performance {
  width: 100%;
  height: 100%;
}

.performance p {
  font-size: 30px;
}

.culture-lower-frame {
  width: 100%;
  height: 90%;
  /* display: flex; */
  /* background-color: black; */
}

/* performance-card~img-container까지 필요한가? */
.performance-card {
  margin: auto;

  width: 335px;
  /* padding: 20px; */
  background-color: blue;
}
.right-content {
  width: 80%;
  height: 100%;
  background-color: burlywood;
}
.img-container {
  height: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slide-container {
  /* width: 100%; */
  height: 100%;
  background-color: darkgreen;
  /* background-color: EFEFEF; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* vertical-align: middle; */
  /* overflow: auto; */
  /* min-width: 500px;
  max-width: 500px; */
  /* padding-top: 80px; */
  /* padding-bottom: 50px; */
}
.slide-container2 {
  max-width: 1600px;
  width: 100%;
  background-color: grey;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
}
.card {
  width: 320px;
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  background-color: #4070f4;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #265de2;
}
