@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.nav-btn {
  margin: 50px;
}

.navbar {
  z-index: 13;
  width: 100vw;
  position: fixed;
}

.sign-btn {
  display: flex;
}

.btn {
  margin-right: 10px;
}

.mySeoul {
  margin-right: 30px;
}

.mySeoul:hover {
  font-weight: 900;
}
